.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #B05842;
  border-radius: 5px;
  color: #9BCBD3;
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #B05842;
  border: none;
  border-radius: 5px;
  color: #9BCBD3;
  font-weight: bold;
}

.button:hover {
  background-color: #a14c37;
}